<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.asb">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNextGen"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".activity.ClassificacaoASBActivity"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="br.com.asb"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TelaCadastroInicialActivity"
            android:windowSoftInputMode = "adjustPan"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TelaMontarDadosCompletosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TelaCadastroInicialRespostaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BackupSQLActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PermissoesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListarProfissionaisEntrevistadosActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>